.article-comment {
  margin-top: 20px;
  background: #FFF;
  padding: 20px;

}
.article-comment .user_info {
  margin-right: 20px;
  line-height: 30px;
  color: #999;
  overflow: hidden;
}
.article-comment .user_info a.user_name_a {
  display: block;
  float: left;
  margin-right: 50px;
}
.article-comment .user_info img {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin-right: 8px;
  border-radius: 50%;
}
.article-comment .user_info .user_name {
  display: inline-block;
  float: left;
}
.article-comment .user_info .create_time {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.article-comment .comment_content {
  font-size: 14px;
  margin-top: 10px;
  color: #777;
}

.article-comment .comment-ul li:last-child {
  border-bottom: none;
}
.article-comment .comment-ul li {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
}

.article-comment .edit-comment {
  overflow: hidden;
}
.article-comment .comment-textarea {
    overflow: hidden;
    resize: none;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 580px;
    padding: 15px;
}
.article-comment .comment-submit {
    float: right;
  margin-right: 10px;
    padding: 12px 25px;
    background-color: #0078d7;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}
.article-comment .comment-submit:hover {
    background-color: #0c8ef5;
}
.article-comment .comment-submit.disabled {
  background-color: #838383;
}
.article-comment .load-more {
  display: none;
  line-height: 29px;
  text-align: center;
  background: #f8f8f9;
  background-color: #f1f1f2;
  background-image: -moz-linear-gradient(top,#f8f8f9,#e6e6e8);
  background-image: -ms-linear-gradient(top,#f8f8f9,#e6e6e8);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f9),to(#e6e6e8));
  background-image: -webkit-linear-gradient(top,#f8f8f9,#e6e6e8);
  background-image: -o-linear-gradient(top,#f8f8f9,#e6e6e8);
  background-image: linear-gradient(top,#f8f8f9,#e6e6e8);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #bbb;
  color: #626262!important;
  box-shadow: 0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  margin-bottom: 20px;
}
.article-comment .remove-comment {
    position: absolute;
    right: 10px;
    top: 10px;
}