/**
     * article css
     * @author xinwu
     * @date 2015-03-15
     * @version 1.0.0
**/

.LD_article .c_news_list ul{ width:640px; padding:5px 10px; float:left; display:block; background:#fff;}
.LD_article .c_news_list ul li{ float:left; width:305px;overflow:hidden; padding-left:15px; line-height:26px; height:26px; background:url(/static/common/images/common/sp.png) no-repeat 0 12px; }
.LD_article .c_news_list ul li a{ display:block; font-size:14px; color:#555; font-family:"å¾®è½¯é›…é»‘", "Microsoft Yahei"}
.LD_article .c_news_list ul li a.c_n_l_img{ padding-left:42px; background:url(/static/common/images/common/sp.png) no-repeat 0 -19px;}


.LD_article .fc_c_m{ margin-left:-10px;}
.LD_article .fc_c_m img{ width:324px; height:170px;}
.LD_article .fc_c_l,.LD_article .fc_c_r{height:170px; width:324px; position:relative; float:left; margin-left:10px; _margin-left:5px;}

.LD_article .fc_c_l .t_box,.LD_article .fc_c_r .t_box{position:absolute;  left:0; bottom:0; display:block; width:100%; height:45px; line-height:45px; text-align:center; color:#fff; font-family:"å¾®è½¯é›…é»‘", "Microsoft Yahei"; font-size:16px; background: rgba(0,0,0,0.3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #30000000,endColorstr = #30000000); overflow:hidden;}
.LD_article .fc_c_l:hover .t_box,.LD_article .fc_c_r:hover .t_box{ background:#0078d7}

.LD_article .fc_c_l .t_box a,.LD_article .fc_c_r .t_box a{ color:#fff;}

.LD_article .today_update{overflow: hidden;*zoom:1;background:#fff;}
.LD_article .today_update .today_tit{border-bottom:2px solid #0078d7;}
.LD_article .today_update .today_tit .txt{background: #0078d7;width:130px;height:35px;line-height: 35px;display: block;font-size: 18px;color:#fff;text-align:center;}
.LD_article .article_list .list{width:100%;padding:18px 10px;overflow: hidden;*zoom:1;border-bottom: 2px solid #f8f8f8;position: relative; transition: height .7s linear; -webkit-transition: height .7s linear;}
.LD_article .article_list .list .l_img{width:180px;}
.LD_article .article_list .list .l_link{float: left;display: block;overflow: hidden;height: 144px;}
.LD_article .article_list .list .r_wrap{overflow: hidden;*zoom:1;padding:0 20px;}
.LD_article .list .r_wrap .arc_title{margin-top:10px;  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;}
.LD_article .article_list .list .arc_link{color: #322725;font-weight: bold;font-size: 20px;}
.LD_article .article_list .list a.arc_link:hover{color:#0078d7;}
.LD_article .list .r_wrap .arc_info{margin-top:10px;color:#999;line-height: 30px}
.LD_article .list .r_wrap .arc_info .user_info {float: left;margin-right: 20px;}
.LD_article .list .r_wrap .arc_info .user_info a{display: block;color: #999;}
.LD_article .list .r_wrap .arc_info .user_info a:hover{color: #0078d7;}
.LD_article .list .r_wrap .arc_info .user_info img{width: 30px;height:30px;display: block;float: left;margin-right: 8px;border-radius: 50%;}
.LD_article .list .r_wrap .arc_info .user_info .user_name{display: inline-block;float: left;}
.LD_article .list .r_wrap .arc_info b{margin-left:5px;}
.LD_article .list .r_wrap .arc_info .up_from{margin-left:20px;}
.LD_article .list .r_wrap .arc_description{margin-top:10px;color:#000;line-height:20px;height:40px;font-size:12px;font-family: arial, SimSun, Verdana, Geneva, Helvetica;display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden;}
.LD_article .list .r_wrap .arc_read{margin-top:10px;color:#999;}
.LD_article .list .r_wrap .arc_read .thumb_num,
.LD_article .list .r_wrap .arc_read .comment_num{color:#999;margin-right:20px; float:right; cursor: pointer;}
.LD_article .list .r_wrap .arc_read .thumb_num:hover,
.LD_article .list .r_wrap .arc_read .comment_num:hover{color:#0078d7;}
.LD_article .list .r_wrap .arc_read .thumbs.up{margin-right:.25em;}
.LD_article .list .arc_manager {
    clear: both;
    overflow: hidden;
    margin-right: 22px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0px;
    width: 70px;
}

.LD_article .list .arc_manager a {
    display: inline-block;
    color: #000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}

.LD_article .list .arc_manager a:hover i{
  color: #0078d7;
}

.LD_article .list .arc_manager i {
    margin-right: 0;
}


.LD_article .today_update .load-more {
  display: none;
  line-height: 40px;
  text-align: center;
  background: #FFFFFF;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #bbb;
  color: #626262!important;
  box-shadow: 0 1px 0 #fff inset,0 1px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  margin-bottom: 20px;
}